{% extends 'base.html.twig' %}
{% block title %}Oficios{% endblock %}
{% block body %}

<select name="miOficio">
    {% for oficio in oficiosDiferentes %}
        <option value="{{oficio}}">{{oficio}}</option>   
    {% endfor %}
  
</select>


{% endblock %}