<html>

<head>
</head>

<body>
<form style="background: green" action="{{ path('rellenarFormulario') }}">
    <h1>FORMULARIO DE DATOS DE PACIENTE</h1>

    <label for="inscripcionPaciente">INSCRIPCIÓN </label>
    <input type="text" name="inscripcionPaciente" id="inscripcionPaciente">
    <br>

    <label for="apellidoPaciente">APELLIDO </label>
    <input type="text" name="apellidoPaciente" id="apellidoPaciente">
    <br>

    <label for="direccionPaciente">DIRECCION </label>
    <input type="text" name="direccionPaciente" id="direccionPaciente">
    <br>

    <label for="nacimientoPaciente">FECHA DE NACIMIENTO </label>
    <input type="date" name="nacimientoPaciente" id="nacimientoPaciente">
    <br>

    <label for="sexoPaciente">SEXO </label>
    <input type="text" name="sexoPaciente" id="sexoPaciente">
    <br>

    <input type="submit" value="Ingresar">
</form>
</body>

</html>