<html>

<header>
</header>

<body>
<form action=""></form>

    <img src="/CarnetMadridista.bmp" alt="carnet del Real Madrid">    

    <div>    
        <img src="/flag-english.gif" alt="bandera británica">
        <a href="/en/formulario">Inglés</a>

        <img src="/flag-spanish.gif" alt="bander española">
        <a href="/es/formulario">Español</a>
    </div>
    
</form>
</body>
</html>